<!DOCTYPE html>
<html>
<head>
  <title>X HB Project X</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https:////maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    {% endwith %}

    <!-- This is where the main content goes. -->
    {% block content %}
    BODY OF PAGE GOES HERE VIA INHERITANCE
    {% endblock %}
</body>
</html>