<!DOCTYPE html>
<html>
<head>
  <title>X HB Project X</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https:////maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Search</a></li>
        </ul>
        <ul class="nav navbar-nav">
            {% if session['username'] == 1 %}
            <li><a data-toggle="collapse" href="#signIn" aria-expanded="false" aria-controls="signIn">Sign In</a></li>
            <li><a data-toggle="collapse" href="#register" aria-expanded="false" aria-controls="register">Register</a></li>
            {% else %}
            <li><a href="/user-account">My Account</a></li>
            <li><a href="/logout">Log Out</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="collapse" id="signIn">
    <form action='/login' method='POST' class='form-horizontal'>
    <div class='form-group'>
      <label for='userEmail' class='col-sm-2 control-label'>Username:</label>
      <div class='col-sm-6'>
        <input type='email' class='form-control' id='userEmail' name='email' required placeholder='Enter a valid email'>
      </div>
    </div>
    <div class='form-group'>
      <label for='userPassword' class='col-sm-2 control-label'>Password:</label>
      <div class='col-sm-6'>
        <input type='password' class='form-control' id='userPassword' name='password' required>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-offset-2 col-sm-6'>
        <button type='submit' class='btn btn-default'>Submit</button>
      </div>
    </div>
    </form>
  </div>

  <div class="collapse" id="register">
    <form action='/register' method='POST' class='form-horizontal'>
    <div class='form-group'>
      <label for='userEmail' class='col-sm-2 control-label'>Username:</label>
      <div class='col-sm-6'>
        <input type='email' class='form-control' id='userEmail' name='email' required placeholder='Enter a valid email'>
      </div>
    </div>
    <div class='form-group'>
      <label for='userPassword' class='col-sm-2 control-label'>Password:</label>
      <div class='col-sm-6'>
        <input type='password' class='form-control' id='userPassword' name='password' required>
      </div>
    </div>
    <div class='form-group'>
      <label for='userPasswordCheck' class='col-sm-2 control-label'>Re-Enter Password:</label>
      <div class='col-sm-6'>
        <input type='password' class='form-control' id='userPasswordCheck' name='password_check' required>
      </div>
    </div>
    <div class='form-group'>
      <label for='userPhone' class='col-sm-2 control-label'>Phone Number:</label>
      <div class='col-sm-6'>
        <input type='text' class='form-control' id='userPhone' name='phone_number' required placeholder='Enter 10 digit phone number'>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-offset-2 col-sm-6'>
        <button type='submit' class='btn btn-default'>Submit</button>
      </div>
    </div>
    </form>
  </div>

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
  {% for message in messages %}
  <div class="alert alert-warning">{{ message }}</div>
  {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block content %}
  BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}


</body>
</html>