{% extends 'base.html' %}
{% block content %}
<script src="/static/js/script.js"></script>


<div class="jumbotron container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Category <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
						<li><a href="#">All</a></li>
						<li><a href="#">Apparel</a></li>
						<li><a href="#">Beauty</a></li>
						<li><a href="#">Books</a></li>
						<li><a href="#">Electronics</a></li>
						<li><a href="#">Tools</a></li>
						<li><a href="#">Toys</a></li>
						</ul>
					</div>
					<input type="text" class="form-control" id="userSearch">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default submitSearch"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="rSearch">
			<div class="col-md-4">
				<a href="#" id="randomSearch">Random Search</a>
			</div>
		</div>
	</div>
</div>

<div class="loader" style="display: none"></div>

<div class="container">
	<div class="row">
		<h4>See what others are setting alerts for</h4>
		<table class="table" id="otherAlerts">
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Modal Shows When Button Clicked -->
	<div class="modal fade" id="setNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	  <div class="modal-dialog">
	    <div class="modal-content"> 
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Set Price Alert</h4>
	      </div>
	      <div class="modal-body">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>

{% endblock %}
