{% extends 'base.html' %}
{% block content %}
<script src="/static/js/script.js"></script>

<div class="loader" style="display: none"></div>

<div class="container">
	<div class="row">
		<h4>See what others are setting alerts for</h4>
		<table class="table" id="otherAlerts">
			<col width="80">
			<col width="80">
			<col width="80">
			<col width="80">
			<col width="80">
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Modal Shows When Button Clicked -->
	<div class="modal fade" id="setNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	  <div class="modal-dialog">
	    <div class="modal-content"> 
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Set Price Alert</h4>
	      </div>
	      <div class="modal-body">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>

{% endblock %}
