{% extends 'base.html' %}
{% block content %}
<script src="/static/js/user.js"></script>

<div class="container">
	<div class="row">
		<div id="user">
		</div>
	</div>
	<div class="row">
		<div class="col-md-8" id="alerts">
			<h3>Current Alerts</h3>
			<table class="table table-hover" id="alertTable">
				<thead>
				<tr>
					<th></th>
					<th>Product</th>
					<th>
					<th>Alert Price</th>
					<th>Expiration Date</th>
				</tr>
				</thead>
				<tbody id="alertsBody">
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-3" id="prevViewed">
			<h3>Your Recently<br>Viewed Items</h3>
			<table class="table" id="userSearchesTable">
				<tr>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}
